<!-- Carousel
  ================================================== -->
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag("umami_burger.jpg") %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Discover San Francisco's Best Fppd</h1>
            <p class="lead">The Best Restaurants, Coffee, Burgers, Italian Food in the city as voted by you.</p>
            <%= link_to "Sign up today", new_user_registration_path, class: "btn btn-xlarge btn-primary" %>
          </div>
        </div>
      </div>
      <div class="item">
       <%= image_tag("umami_burger.jpg") %>
        <div class="container">
          <div class="carousel-caption">
            <h1>One Person One Vote</h1>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <a class="btn btn-large btn-primary" href="#">Vote Today</a>
          </div>
        </div>
      </div>
      <div class="item">
       <%= image_tag("umami_burger.jpg")%>
        <div class="container">
          <div class="carousel-caption">
            <h1>For Food Lovers</h1>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <a class="btn btn-large btn-primary" href="#">Discover</a>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div><!-- /.carousel -->