// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #FAF9F4;
}

.space0 { margin-bottom: 6.25px; }
.space1 { margin-bottom: 12.5px; }
.space2 { margin-bottom: 25px; }
.space3 { margin-bottom: 37.5px; }
.space4 { margin-bottom: 50px; }

.food {
  border: 1px solid #fff;
  background-color: white;
  box-shadow: 0 1px 4px #ccc;
  width: 150px;
  height: 150px;
  padding: 3px;
  margin: 0 auto 12.5px;
}

.food img{
  border-radius: 4px;
  height: 150px;
  width: 150px;
  display: block;
}

.center {
  text-align: center;
}

.block_center {
  margin: 0 auto;
}
a{
  text-decoration: none;
}
ul li {
    list-style: none;

    text-align: left;
}